.summary-description {
    padding: 0rem 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.summary-description p {
    font-family: 'Avenir-Light';
    line-height: 1.75em;
    margin-top: 0rem;
}
