.experience {
    padding: 0rem 2rem;
    font-family: 'Avenir';
}
.experience-title {
    color: #831515;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}

.experience ul {
    list-style: none;
    padding: 0rem;
}

.experience li {
    margin: 0 0 1.5rem 0;
    padding: 0;
}
.experience {
    font-size: 0.9rem;
}
.date {
    color: rgba(34, 36, 39, 0.5);
}

.role {
    font-weight: bold;
    margin: 0.2rem 0;
}
