.experience {
    padding: 0rem 1rem;
    font-size: 0.9rem;
    font-family: 'Avenir';
}

.experience-title {
    color: #831515;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}

.experience-list {
    list-style: none;
    padding: 0rem;
}

.experience-list li {
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.date {
    color: rgba(34, 36, 39, 0.5);
}

.role {
    font-weight: bold;
    margin: 0.2rem 0;
}
