.skills-title {
    color: #831515;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}

.koi {
    width: 266px;
    height: 75px;
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -50px;
    margin-left: 100px;
}

.skills-list {
    display: flex;
}

.skills-list li {
    margin: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
