/* .skills {
    width: 20rem;
    height: 10rem;
} */

.skills-title {
    color: #831515;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}
.koi {
    margin-bottom: -10rem;
}

.skills-list {
    display: flex;
    list-style: none;
    padding: 0rem;
}

.skills-list li {
    margin-right: 1rem;
    font-weight: bold;
}
